<beans>

	<bean id="printBeanFactoryPostProcessor" class="org.training.spring.ioc.context.beanfactorypostprocessor.PrintBeanFactoryPostProcessor"/>
	
	<bean id="propertyPlaceholderBeanFactoryPostProcessor" class="org.training.spring.ioc.context.beanfactorypostprocessor.PropertyPlaceholderBeanFactoryPostProcessor">
        <property name="propertyFileName" value="src/test/resources/application.properties"/>
	</bean>
	
	<bean id="printerBean" class="org.training.spring.ioc.bean.PrinterBean">
        <property name="message" value="initial greeting"/>
	</bean>

	<bean id="randomValuePostProcessor" class="org.training.spring.ioc.context.beanpostprocessor.InjectRandomValueBeanPostProcessor"/>
	
	<bean id="randomDoubleValueBean" class="org.training.spring.ioc.bean.RandomDoubleBean"/>

	<bean id="randomStringValueBean" class="org.training.spring.ioc.bean.RandomStringBean"/>

	<bean id="methodExecutionLogPostProcessor" class="org.training.spring.ioc.context.beanpostprocessor.MethodExecutionLogBeanPostProcessor"/>
	
	<bean id="transactionalMethodExecutionPostProcessor" class="org.training.spring.ioc.context.beanpostprocessor.TransactionalMethodExecutionBeanPostProcessor"/>
	
	<bean id="heavyLoadTaskBean" class="org.training.spring.ioc.bean.HeavyLoadTaskBean"/>

    <bean id="mailService" class="org.training.spring.ioc.service.MailService">
        <property name="protocol" value="POP3"/>
        <property name="port" value="3000"/>
    </bean>

    <bean id="paymentService" class="org.training.spring.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentWithMaxService" class="org.training.spring.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
        <property name="maxAmount" value="500"/>
    </bean>

    <bean id="userService" class="org.training.spring.ioc.service.UserService">
        <property name="mailService" ref="mailService"/>
    </bean>

</beans>
