<beans>

    <bean id="mailService" class="org.training.spring.ioc.service.MailService">
        <property name="protocol" value="POP3"/>
        <property name="port" value="3000"/>
    </bean>

    <bean id="paymentService" class="org.training.spring.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentWithMaxService" class="org.training.spring.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
        <property name="maxAmount" value="500"/>
    </bean>

    <bean id="userService" class="org.training.spring.ioc.service.UserService">
        <property name="mailService" ref="mailService"/>
    </bean>
</beans>
